jobs:
  - job: Build
    strategy:
      matrix:
        macOS_Mojave:
          OS_VERSION: '10.14'
        macOS_Catalina:
          OS_VERSION: '10.15'
        macOS_BigSur:
          OS_VERSION: '11.0'
    pool:
      name: Default
      demands:
        - agent.os -equals Darwin
        - agent.osversion -equals $(OS_VERSION)
    timeoutInMinutes: 120
    steps:
      - bash: |
          HOMEBREW_TAP_DIR="/usr/local/Homebrew/Library/Taps/kabel/homebrew-pecl"
          mkdir -p "$HOMEBREW_TAP_DIR"
          rm -rf "$HOMEBREW_TAP_DIR"
          rm -rf "$BUILD_ARTIFACTSTAGINGDIRECTORY"/*
          rm -f *.bottle.tar.gz
          rm -f *.bottle.json
          git clean -fdq
          brew update-reset
          ln -s "$PWD" "$HOMEBREW_TAP_DIR"
        displayName: Setup brew tap
      - bash: |
          set -e
          if [ -z "$SYSTEM_PULLREQUEST_TARGETBRANCH" ]; then export SYSTEM_PULLREQUEST_TARGETBRANCH="main"; fi
          if [ "$BUILD_REASON" = "PullRequest" ]; then export GITHUB_EVENT_NAME="pull_request"; fi
          export GITHUB_BASE_REF="$SYSTEM_PULLREQUEST_TARGETBRANCH"
          export GITHUB_SHA="$BUILD_SOURCEVERSION"
          export GITHUB_ACTIONS="fake"
          export GITHUB_REPOSITORY="$BUILD_REPOSITORY_NAME"
          export GITHUB_REF="$BUILD_SOURCEBRANCH"
          export HOMEBREW_GITHUB_ACTIONS=fake
          echo "==> Dumping Pipelines Vars..."
          echo "BUILD_REPOSITORY_NAME=$BUILD_REPOSITORY_NAME"
          echo "BUILD_SOURCEBRANCH=$BUILD_SOURCEBRANCH"
          echo "BUILD_SOURCEBRANCHNAME=$BUILD_SOURCEBRANCHNAME"
          echo "BUILD_SOURCEVERSION=$BUILD_SOURCEVERSION"
          echo "BUILD_REASON=$BUILD_REASON"
          echo "SYSTEM_PULLREQUEST_SOURCEBRANCH=$SYSTEM_PULLREQUEST_SOURCEBRANCH"
          echo "SYSTEM_PULLREQUEST_TARGETBRANCH=$SYSTEM_PULLREQUEST_TARGETBRANCH"
          echo
          TEST_PARAMS=""
          if [ "$BUILD_REASON" != "PullRequest" -a "$BUILD_SOURCEBRANCHNAME" = "$SYSTEM_PULLREQUEST_TARGETBRANCH" ]; then TEST_PARAMS="--only-tap-syntax"; fi
          brew test-bot --tap=kabel/pecl --root-url=https://kabel.jfrog.io/artifactory/bottles-pecl $TEST_PARAMS
        displayName: Run brew test-bot
      - bash: |
          brew list --full-name | grep kabel/pecl | xargs brew rm
          brew cleanup
          BOTTLE_COUNT=$(find . -name \*.bottle.tar.gz -print | wc -l | xargs)
          echo "Found $BOTTLE_COUNT bottles"
          if [ "$BOTTLE_COUNT" -gt "0" ]; then
            cp *.bottle.tar.gz $BUILD_ARTIFACTSTAGINGDIRECTORY 2>/dev/null
            cp *.bottle.json $BUILD_ARTIFACTSTAGINGDIRECTORY 2>/dev/null
          fi
          echo "##vso[task.setvariable variable=BOTTLE_COUNT]$BOTTLE_COUNT"
        condition: succeededOrFailed()
        displayName: Cleanup brew
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'
        condition: gt(variables.BOTTLE_COUNT, 0)
